
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: url('AdobeStock_855407159_Preview.jpeg') no-repeat;
    background-size: cover;
    width: 100%;
    backdrop-filter: blur(2px);
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    height: 400px; /* Adjust based on specific needs */
    width: 350px; /* Adjust based on specific needs */
    background-color: rgba(235, 188, 188, 0.9);
    border: 2px solid rgb(16, 5, 5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* transition: height .2s ease; Specific transitions */
}

.nav-bar {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
}

.btn {
    width: 100%;
    height: 30px;
    background: #000000;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid white; /* Adjust specific hover effects */
}

/* Login-specific styles */
.login-boxes button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-reg {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.close-icon {
    position: absolute;
    top: 0px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: flex-start;
}