/* src/components/LoginModal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    /* Responsive width */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}

h2{
    text-align: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField {
    margin-bottom: 10px;
}

.socialMediaButtons {
    display: flex;
    justify-content: space-around;
    width:100%;
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 8px;
}

.button {
    border-radius: 5px;
    cursor: pointer;
    border: white;
    background: black;
    text-decoration: none;
    color: white;
    margin-top: 5px;
    height: 30px;
    margin-bottom: 5px;
    width:150px;
}

.button:hover {
    opacity: 0.8;
}

.link {
    text-decoration: underline;
    color: blue;
    border: none;
    font-size: 14px;
    background: none;
    cursor: pointer;
}

.logo {
    width: 40px;
    height: 40px;
}

.inputField {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width:280px;
    margin-left: 3px;
    height: 25px;
}

button,
.link {
    margin-top: 20px;
    /* Adjust spacing */
}

.linkRight{
    width:100%;
    text-align: right;
    padding-right: 25px;
    font-size: 14px;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .modalContent {
        width: 90%;
        padding: 15px;
    }

    .inputField {
        width: 100%;
        /* Full width on smaller screens */
    }

    .socialMediaButtons img {
        width: 40px;
        /* Smaller logos on smaller screens */
        height: 40px;
    }
}